.zone_jeu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px;
}

    .zone_jeu div {
        width: 100px;
        height: 100px;
        padding: 1px;
        border: 2px solid #000;
    }

.piece {
    draggable: true;
}
